/* Shopping Cart */

.cart-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 650px;
  width: 75%;
}

.cart-items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 25%;
  min-width: 75%;
  background-color: var(--col-light-grey);
  border-radius: 2px;
  margin-right: 20px;
}

/* 
-------------
Media Queries
-------------

*/

@media screen and (max-width: 1308px) {
  .cart-container {
    flex-direction: column-reverse;
  }

  .order-panel {
    width: 95%;
    min-width: none;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 640px) {
  .cart-container {
    width: 90%;
  }
}
