/* Add / Remove Buttons */

.addrem-container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.addrem-container button {
  padding: 3px 10px;
  background-color: white;
  color: var(--col-green);
  border: 1px solid var(--col-med-grey);
  border-radius: 2px;
  cursor: pointer;
  box-shadow: var(--light-shadow);
}
